:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px;
  width: 200px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  color: whitesmoke;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover {
  border-color: #c0ec0c;
  transform: scale(1.1);
  box-shadow: 10px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 1);
}

h1.title {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 45px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  z-index: 0;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.input-field {
  width: 100%;
  max-width: 280px;
  padding: 12px 0;
  margin: 10px 0;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  color: #213547;
  background: rgb(255, 255, 255);
  border: 2px solid #d1d1d1;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.input-field:focus {
  border-color: #f7f706;
  box-shadow: 0 0 20px rgba(100, 108, 255, 0.5);
}
.input-field:hover {
  border-color: #646cff;
  box-shadow: 0 0 20px rgba(100, 108, 255, 0.5);
}
.input-field.error {
  border-color: #ff4d4d;
  box-shadow: 0 0 8px rgba(255, 77, 77, 0.5);
}
.input-field:disabled {
  background: #e0e0e0;
  cursor: not-allowed;
  opacity: 0.6;
}

.grid-container {
  flex-direction: column; 
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.grid-container:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 1);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: auto;
  height: auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100p0x;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow-y: auto; 
}

.left-section {
  width: 25%;
}

.center-section {
  width: 50%;
}

.right-section {
  width: 20%;
}

section {
  margin-bottom: 20px;
}